/* Zeroes out all standards for web browsers */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* Flex the App and spread to the full height of the view window */
.App {
  text-align: center;
  display: flex;
  justify-content: space-between;
  height: 100vh;
  /* z-index: 1; */
}

/* ############################################################# */
/* Standard Elements */
/* ############################################################# */

/* Keed headings thin and neat*/
h3, h4, h5, h6{
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

/* Standard submission button style */
.submission-button {
  border-width: 0px;
  border-radius: 10px;
  background-color:#00A2FF;
  color: white;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  padding: 3px 4px 3px 4px;
}

/* Standard danger style button */
.danger-button{
  font-size: 10px;
  color: red;
  background-color: white;
  border: none;
}

/* Get rid of list bulleting */
li{
  list-style: none;
}

/* Removes url underline */
a {
  text-decoration: none;
}



/* ############################################################# */
/* Main content and alignment */
/* ############################################################# */

/* Flex the components within main element*/
.mainContent, .topRow, .bottomRow {
  display: flex;
}

/* Main content in the main element */
.mainContent{
  /* border: 1px solid red; */
  flex: auto;
  justify-content: space-between;
  flex-direction: column;
}

/* Top row of main content */
.topRow{
  flex: 3;
  border: 1px solid blue;
}

/* Bottom row of the main content */
.bottomRow{
  flex: 2;
  border: solid 1px orange;
}