/* ############################################################# */
/* Wrapper for all pop-ups and their children */
/* ############################################################# */

/* Keep Hidden until pop-up clicked */

.pop-up-wrapper{
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: inline-block;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
}

.pop-up-form{
  margin: auto;
  margin-top: 15%; /* Keeps the form a little above center vertically */
                      /* - Easier on the eyes */
  border: solid 1px #c3b0b0;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
  background-color: white;
}